@layer components {
    .filmes-container {
        @apply relative max-w-full;
    }

    .container-filmes {
        @apply flex gap-1 lg:gap-3 overflow-x-auto overflow-y-hidden;

        @media (min-width: 1024px) {
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* IE e Edge */
        }
    }

    .container-filmes::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
    }

    .link-filme {
        @apply p-1;

        & img {
            @apply p-1 min-w-[9rem] h-[12rem] lg:min-w-[15rem] lg:h-[22rem] object-cover rounded-lg hover:ring-2;
        }
    }

    /* Botões */
    .scroll-btn {
        @apply absolute w-12 h-12 top-1/2 -translate-y-1/2 bg-black/60 text-white text-xl rounded-full opacity-0
        transition-opacity duration-300 z-10 cursor-pointer;

        &:hover {
            @apply transform scale-110;
        }
    }

    .filmes-container:hover .scroll-btn {
        @apply opacity-100;
    }

    .scroll-left {
        @apply left-2;
    }

    .scroll-right {
        @apply right-2;
    }

    .container-top-10 {
        @apply flex;

        & .posicao-top-10 {
            @apply flex items-center justify-center font-bold text-preto text-[8rem] lg:text-[18rem] tracking-[-2rem] lg:tracking-[-4.5rem];
        }

        & .link-filme img {
            @apply hover:ring-0;
        }

        &:hover .posicao-top-10 {
            @apply text-azul;
        }
    }

    .continue-container {
        @apply flex lg:grid lg:grid-cols-5 gap-2 overflow-auto;

        & a {
            @apply relative p-1;

            & img {
                @apply p-1 min-w-[12rem] lg:w-full h-[8rem] lg:h-[13rem] object-cover rounded-lg hover:ring-2;
            }

            & .btn-play {
                @apply flex gap-2 items-center justify-center max-w-5/6 px-3 lg:px-5 absolute bottom-3 lg:bottom-5
                left-3 lg:left-5 bg-black/70 rounded-xl;

                & i {
                    @apply text-2xl lg:text-5xl;
                }

                & p {
                    @apply truncate w-full;
                }
            }
        }
    }
}

@layer utilities {
    .text-outline {
        text-shadow: -3px -3px 0 #398FF9,
        3px -3px 0 #398FF9,
        -3px 3px 0 #398FF9,
        3px 3px 0 #398FF9,
        -3px 0 0 #398FF9,
        3px 0 0 #398FF9,
        0 -3px 0 #398FF9,
        0 3px 0 #398FF9;
    }
}