@import "tailwindcss";
@import "./landing.css";
@import "./auth.css";
@import "./tabela.css";
@import "./modal.css";
@import "./categorias.css";
@import "./destaque.css";
@import "./perfil.css";
@import "./dashboard.css";
@import "./filmes.css";
@import "./assistir.css";

/* variaveis */
@theme {
    --color-azul: #398FF9;
    --color-azul-hover: #095FC9;
    --color-azul-escuro: #18202B;
    --color-preto: #141414;
    --color-cinza: #1F1F1F;
    --color-cinza-claro: #2B2B2B;
    --color-branco-texto-opaco: #BFBFBF;
    --color-borda: #404040;
}

@layer base {
    * {
        transition: background-color 0.3s ease,
        color 0.1s ease,
        opacity 0.3s ease,
        scale 0.2s ease,
        box-shadow 0.3s ease;
        /*outline: 1px solid red;*/
    }

    body {
        @apply bg-preto text-white;
    }

    main {
        @apply min-h-[calc(100dvh-5rem)] pb-[5.5rem] lg:pb-5;
    }
}

@layer components {
    /* geral */
    .interface {
        @apply mx-auto max-w-[1280px] w-full px-3 lg:px-5;
    }

    .logo {
        @apply text-3xl font-bold;

        & span {
            @apply text-azul;
        }
    }

    #div-erro {
        @apply flex items-center justify-center gap-4 text-base lg:text-lg rounded-xl fixed right-8 bottom-[-50%]
        shadow-lg bg-white px-3 lg:px-8 py-2 animate-[show-mobile_5s] lg:animate-[show_5s] text-black z-750;

        & i {
            @apply text-xl lg:text-2xl;
        }
    }

    @keyframes show {
        0% {
            bottom: -50%;
        }
        20% {
            bottom: 2rem;
        }
        80% {
            bottom: 2rem;
        }
        100% {
            bottom: -50%;
        }
    }

    @keyframes show-mobile {
        0% {
            bottom: 80%;
            right: -100%;
        }
        20% {
            bottom: 80%;
            right: 1rem;
        }
        80% {
            bottom: 80%;
            right: 1rem;
        }
        100% {
            bottom: 80%;
            right: -100%;
        }
    }

    .titulo {
        @apply flex items-center justify-between pt-10 pb-5;

        & .txt-titulo {
            & h2 {
                @apply text-2xl lg:text-3xl font-bold;

                & i {
                    @apply text-azul;
                }
            }

            & p {
                @apply text-branco-texto-opaco text-lg lg:text-xl;
            }
        }

        & button {
            @apply flex items-center justify-center gap-2 rounded-lg lg:px-5 ml-5 lg:ml-0 min-w-13 min-h-13 lg:w-auto lg:h-auto p-0 lg:py-2 text-4xl lg:text-xl cursor-pointer bg-azul hover:bg-azul-hover;

            & span {
                @apply hidden lg:block;
            }
        }
    }

    /* menu */
    .link-menu {
        @apply flex flex-col lg:flex-row lg:gap-2 w-full text-white/90 hover:text-branco-texto-opaco text-center whitespace-nowrap;
    }

    .ativo {
        @apply font-bold text-white border-b border-white p-0 lg:pb-1 hover:text-white;
    }
}
